<script type="text/javascript">
	$(document).ready(function() {
		$('.c_1').mouseenter(function(){
        $(this).attr('src','images/c_1_h.png')
		});
		$('.c_1').mouseout(function(){
        $(this).attr('src','images/c_1.png')
		});
		$('.c_2').mouseenter(function(){
        $(this).attr('src','images/c_2_h.png')
		});
		$('.c_2').mouseout(function(){
        $(this).attr('src','images/c_2.png')
		});
		$('.c_3').mouseenter(function(){
        $(this).attr('src','images/c_3_h.png')
		});
		$('.c_3').mouseout(function(){
        $(this).attr('src','images/c_3.png')
		});
		$('.c_4').mouseenter(function(){
        $(this).attr('src','images/c_4_h.png')
		});
		$('.c_4').mouseout(function(){
        $(this).attr('src','images/c_4.png')
		});
		$('.c_5').mouseenter(function(){
        $(this).attr('src','images/c_5_h.png')
		});
		$('.c_5').mouseout(function(){
        $(this).attr('src','images/c_5.png')
		});
		$('.c_6').mouseenter(function(){
        $(this).attr('src','images/c_6_h.png')
		});
		$('.c_6').mouseout(function(){
        $(this).attr('src','images/c_6.png')
		});
		$('.c_7').mouseenter(function(){
        $(this).attr('src','images/c_7_h.png')
		});
		$('.c_7').mouseout(function(){
        $(this).attr('src','images/c_7.png')
		});
		$('.c_8').mouseenter(function(){
        $(this).attr('src','images/c_8.png')
		});
		$('.c_8').mouseout(function(){
        $(this).attr('src','images/c_8_h.png')
		});
		$('.c_9').mouseenter(function(){
        $(this).attr('src','images/c_9_h.png')
		});
		$('.c_9').mouseout(function(){
        $(this).attr('src','images/c_9.png')
		});
		$('.c_10').mouseenter(function(){
        $(this).attr('src','images/c_10_h.png')
		});
		$('.c_10').mouseout(function(){
        $(this).attr('src','images/c_10.png')
		});
		$('.c_11').mouseenter(function(){
        $(this).attr('src','images/c_11_h.png')
		});
		$('.c_11').mouseout(function(){
        $(this).attr('src','images/c_11.png')
		});
		$('.c_12').mouseenter(function(){
        $(this).attr('src','images/c_12_h.png')
		});
		$('.c_12').mouseout(function(){
        $(this).attr('src','images/c_12.png')
		});
    });
</script>
<script>
$(document).ready(function(){

	// hide #txt_agencia first
	$("#txt_agencia").hide();
	
	// fade in #txt_agencia
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 800) {
				$('#txt_agencia').fadeIn();
			} else {
				$('#txt_agencia').fadeOut();
			}
		});
	});

});
</script>
<script>
$(document).ready(function(){
	$("#sliding-navigation").hide();
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 1600) {
				$('#sliding-navigation').fadeIn();
			} else {
				$('#sliding-navigation').fadeOut();
			}
		});
	});
});
</script>
<div id='home'>
	<div id='home_imagem1' class='img1'>
		
	</div>
	<div id='home_imagem2' class='img2 hide'>
		
	</div>
	<div id='home_imagem3' class='img3 hide'>
		
	</div>
	<div id='home_imagem4' class='img4 hide'>
		
	</div>
	<div id='home_imagem5' class='img5 hide'>
		
	</div>
</div>
<div id="nav">
	
	</div>
<div id='agencia'>
	<div id='conteudo_servicos'>
	<img src="/images/tit_agencia.png" />
	<img src="/images/img_quem_sabe.png" style="margin-top:30px; margin-left:-160px; position:absolute; z-index:1000;" />
    <div id='txt_agencia' style='margin-left:230px; margin-top:100px;'>
        <h3>A Sato7</h3>
        <p>é uma agência de comunicação completa, onde comunicar com inovação e objetividade são palavras chave. Nosso jeito de pensar e fazer é diferente, na Sato7 as adversidades tornam-se soluções.</p>
        <br />
        <h3>Estrutura</h3>
        <p>Somos feitos por profissionais de diferentes formações; relações públicas, jornalistas, publicitários, designers, programadores e desenvolvedores que acreditam e vivenciam o poder da comunicação inovadora e de resultados.</p>
        <br />
        <h3>Diferencial</h3>
        <p>Somos diferentes por que somos feitos por pessoas diferentes, que vivem com paixão e trazem essa energia para planejar, inovar, interagir e agir diante das oportunidades e desafios.</p>
    </div>
   </div>
</div>
<div id='servicos'>
	<div id='conteudo_servicos'>
    	<img src="/images/tit_servicos.png" />
        <img class="img_como" src="/images/img_como_fazer.png" />
        <ul style='margin-left:70px;' id="sliding-navigation">
        	<li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Consultoria, assessoria e planejamento de comunicação;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Pesquisas e auditorias de opinião e clima organizacional;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Desenvolvimento de marcas e projetos de identidade visual;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Projetos gráficos;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Peças publicitárias em mídia digital e impressa;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Planejamento e execução de ações e campanhas em mídias sociais;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Desenvolvimento de sites, hotsites e sistemas  online;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Integração de sites;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Planejamento e execução de eventos institucionais, corporativos e promocionais.</a></li>
        </ul>
    </div>
</div>
<div id='clientes'>
	<div id='conteudo_clientes'>
    	<img src="/images/tit_clientes.png" />
        <img class="img_quem" src="/images/img_quem.png" />
            <table width="830" border="0" style="margin:0 auto; margin-top:30px;">
              <tr>
                <td><img class="c_1" style='margin-right:10px; margin-top:10px;' src="images/c_1.png" /></td>
                <td><img class="c_2" style='margin-right:10px;' src="images/c_2.png" /></td>
                <td><img class="c_3" style='margin-right:10px;' src="images/c_3.png" /></td>
                <td><img class="c_4" style='margin-right:10px;' src="images/c_4.png" /></td>
              </tr>
              <tr>
                <td><img class="c_5" style='margin-top:10px;' src="images/c_5.png" /></td>
                <td><img class="c_6" src="images/c_6.png" /></td>
                <td><img class="c_7" src="images/c_7.png" /></td>
                <td><img class="c_8" src="images/c_8.png" /></td>
              </tr>
              <tr>
                <td><img class="c_9" style='margin-top:10px;' src="images/c_9.png" /></td>
                <td><img class="c_10" src="images/c_10.png" /></td>
                <td><img class="c_11" src="images/c_11.png" /></td>
                <td><img class="c_12" src="images/c_12.png" /></td>
              </tr>
            </table>
  	</div>
</div>
<div id='portifolio'>
    <div id='conteudo_clientes'>
    	<img src="/images/tit_portifolio.png" />
    	<table width="830" border="0" style="margin-top:50px;">
		  <tr>
		    <td colspan="3" ><a href="/portfolio/adriane" class="port1"><img src="/images/portifolio_segredos_de _adriane.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/castelatto" class="port2"><img src="/images/portifolio_castelatto_mono.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/unilever" class="port3"><img src="/images/portifolio_gestores_de_informacao.png" style='margin-right:10px;'/></a></td>
		  </tr>
		</table>
        <table width="860" border="0" style="margin-top:10px;">
		  <tr>
		    <td colspan="3"><a href="/portfolio/ffa" class="port7"><img src="/images/portifolio_festadasflores.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/wellnessfit" class="port5"><img src="/images/portifolio_wellnessfit.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/nautilus" class="port6"><img src="/images/portifolio_nautilus.png" style='margin-right:10px;'/></a></td>
		  </tr>
		</table>
        <table width="830" border="0" style="margin-top:10px;">
		  <tr>
		    <td width="56"><a href="/portfolio/tegula" class="port8"><img src="/images/portifolio_tegula.png" style='margin-right:10px;'/></a></td>
		    <td width="744"><a href="/portfolio/fasterm" class="port9"><img src="/images/portifolio_fasterm.png"/></a></td>
		  </tr>
		</table>
	</div>
</div>
<div id='contato'>
	<%= form_for @contact, :remote => true, :id => "new_contact" do |f| %>
        <table width="965" border="0" cellspacing="10">
		  <tr>
		    <td width="419">&nbsp;</td>
		    <td width="512"><label for="textfield"></label>
	        <%= f.text_field :name, :value => "Nome", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield2"></label>
	        <%= f.text_field :phone, :value => "Telefone", :onfocus => "check_text_onfocus(this); insertingmask();", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield3"></label>
	        <%= f.text_field :email, :value => "E-mail", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textarea"></label>
	        <%= f.text_area :message, :value => "Mensagem", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
				<%= image_submit_tag "bt_enviar.png", :onclick=>'valida()', :class=>"bt_enviar", :style=>"margin-left:235px;"%>
				<!-- <a href="/#" style="margin-left:235px;"><img src="/images/bt_enviar.png" width="183" height="39" /></a> -->
			</td>
		  </tr>
          <tr>
		    <td colspan="2">
           	<p>&nbsp;</p></td>
	      </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
            <p style="color:#8d8d8d; font-size:18px;">R. Presidente Dutra, 210 - Jd. Brasil - Atibaia - SP - Brasil</p>
            <p style="color:#d80012; font-size:18px;">+55 11 2427 - 8879</p></td>
          </tr>
		</table>
    <%end%>
</div>