
<script>
$(document).ready(function(){

	// hide #txt_agencia first
	$("#txt_agencia").hide();
	
	// fade in #txt_agencia
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 800) {
				$('#txt_agencia').fadeIn();
			} else {
				$('#txt_agencia').fadeOut();
			}
		});
	});

});
</script>
<script>
$(document).ready(function(){
	$("#sliding-navigation").hide();
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 1600) {
				$('#sliding-navigation').fadeIn();
			} else {
				$('#sliding-navigation').fadeOut();
			}
		});
	});
});
</script>
<div id='home'>
	<div id='home_imagem1' class='img1'>
		
	</div>
	<div id='home_imagem2' class='img2 hide'>
		
	</div>
	<div id='home_imagem3' class='img3 hide'>
		
	</div>
	<div id='home_imagem5' class='img5 hide'>
		
	</div>
</div>
<div id="nav">
	
	</div>
<div id='agencia'>
	<div id='conteudo_servicos'>
	<img src="/images/tit_agencia.png" />
	<img src="/images/img_quem_sabe.png" style="margin-top:30px; margin-left:-160px; position:absolute; z-index:1000;" />
    <div id='txt_agencia' style='margin-left:230px; margin-top:100px;'>
        <h3>A Sato7</h3>
        <p>é uma agência de comunicação completa, onde comunicar com inovação e objetividade são palavras chave. Nosso jeito de pensar e fazer é diferente, na Sato7 as adversidades tornam-se soluções.</p>
        <br />
        <h3>Estrutura</h3>
        <p>Somos feitos por profissionais de diferentes formações; relações públicas, jornalistas, publicitários, designers, programadores e desenvolvedores que acreditam e vivenciam o poder da comunicação inovadora e de resultados.</p>
        <br />
        <h3>Diferencial</h3>
        <p>Somos diferentes por que somos feitos por pessoas diferentes, que vivem com paixão e trazem essa energia para planejar, inovar, interagir e agir diante das oportunidades e desafios.</p>
    </div>
   </div>
</div>
<div id='servicos'>
	<div id='conteudo_servicos'>
    	<img src="/images/tit_servicos.png" />
        <img class="img_como" src="/images/img_como_fazer.png" />
        <ul style='margin-left:70px;' id="sliding-navigation">
        	<li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Consultoria, assessoria e planejamento de comunicação;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Pesquisas e auditorias de opinião e clima organizacional;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Desenvolvimento de marcas e projetos de identidade visual;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Projetos gráficos;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Peças publicitárias em mídia digital e impressa;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Planejamento e execução de ações e campanhas em mídias sociais;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Desenvolvimento de sites, hotsites e sistemas  online;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Integração de sites;</a></li>
            <li class="sliding-element"><a href='#'><img src="/images/seta_li.png" />Planejamento e execução de eventos institucionais, corporativos e promocionais.</a></li>
        </ul>
    </div>
</div>
<div id='clientes'>
	<div id='conteudo_clientes'>
    	<img src="/images/tit_clientes.png" />
        <img class="img_quem" src="/images/img_quem.png" />
            <table width="830" border="0" style="margin:0 auto; margin-top:30px;">
              <tr>
                <td><img src="/images/clientes/unilever.jpg" width="163" height="166" alt="Unilever"></td>
                <td><img src="/images/clientes/castelatto.jpg" width="163" height="161" alt="Castelatto"></td>
                <td><img src="/images/clientes/ceac.jpg" width="163" height="161" alt="Ceac"></td>
                <td><img src="/images/clientes/putzmeister.jpg" width="163" height="161" alt="Putzmeister"></td>
                <td><img src="/images/clientes/rota.jpg" width="163" height="161" alt="Rota"></td>
              </tr>
              <tr>
                <td height="3"></td>
              </tr>
              <tr>
                <td><img src="/images/clientes/ceusystem.jpg" width="163" height="161" alt="Ceusystem"></td>
                <td><img src="/images/clientes/fasterm.jpg" width="163" height="161" alt="Fasterm"></td>
                <td><img src="/images/clientes/ffa.jpg" width="163" height="161" alt="Ffa"></td>
                <td><img src="/images/clientes/nautilus.jpg" width="163" height="161" alt="Nautilus"></td>
                <td><img src="/images/clientes/nesporte.jpg" width="163" height="161" alt="Nesporte"></td>
              </tr>
              <tr>
                <td height="3"></td>
              </tr>
              <tr>
                <td><img src="/images/clientes/saraiva.jpg" width="163" height="161" alt="Saraiva"></td>
                <td><img src="/images/clientes/tarsetano.jpg" width="163" height="161" alt="Tarsetano"></td>
                <td><img src="/images/clientes/tegula.jpg" width="163" height="161" alt="Tegula"></td>
                <td><img src="/images/clientes/top_beauty.jpg" width="163" height="161" alt="Top Beauty"></td>
                <td></td>
              </tr>
            </table>
  	</div>
</div>
<div id='portifolio'>
    <div id='conteudo_clientes'>
    	<img src="/images/tit_portifolio.png" />
    	<table width="890" border="0" style="margin-top:50px;">
    			<tr>
    			  <td><a href="/portfolio/nesporte"><img src="/images/portfolio/thumb_nesporte.jpg" width="218" height="145" alt="Thumb Nesporte"></a></td>
    			  <td><a href="/portfolio/adriane"><img src="/images/portfolio/thumb_adriane.jpg" width="218" height="145" alt="Thumb Adriane"></a></td>
    			  <td><a href="/portfolio/castelatto"><img src="/images/portfolio/thumb_castelatto.jpg" width="218" height="145" alt="Thumb Castelatto"></a></td>
    			  <td><a href="/portfolio/ceusystem"><img src="/images/portfolio/thumb_ceusystem.jpg" width="218" height="145" alt="Thumb Ceusystem"></a></td>
    			<tr>
  			  <tr>
            <td height="3"></td>
          </tr>
          <tr>
    			  <td><a href="/portfolio/fasterm"><img src="/images/portfolio/thumb_fasterm.jpg" width="218" height="145" alt="Thumb Fasterm"></a></td>
    			  <td><a href="/portfolio/ffa"><img src="/images/portfolio/thumb_ffa.jpg" width="218" height="145" alt="Thumb Ffa"></a></td>
    			  <td><a href="/portfolio/giotto"><img src="/images/portfolio/thumb_giotto.jpg" width="218" height="145" alt="Thumb Giotto"></a></td>
    			  <td><a href="/portfolio/nautilus"><img src="/images/portfolio/thumb_nautilus.jpg" width="218" height="145" alt="Thumb Nautilus"></a></td>
    			<tr>
  			  <tr>
            <td height="3"></td>
          </tr>
          <tr>
    			  <td><a href="/portfolio/wellnessfit"><img src="/images/portfolio/thumb_wellnessfit.jpg" width="218" height="145" alt="Thumb Wellnessfit"></a></td>
    			  <td><a href="/portfolio/clinicasaraiva"><img src="/images/portfolio/thumb_saraiva.jpg" width="218" height="145" alt="Thumb Saraiva"></a></td>
    			  <td><a href="/portfolio/putzmeister"><img src="/images/portfolio/thumb_putzmeister.jpg" width="218" height="145" alt="Thumb Putzmeister"></a></td>
    			  <td><a href="/portfolio/tegula"><img src="/images/portfolio/thumb_tegula.jpg" width="218" height="145" alt="Thumb Tegula"></a></td>
    			<tr>
  			  <tr>
            <td height="3"></td>
          </tr>
    	</table>  
    	<!-- 
    	<table width="830" border="0" style="margin-top:50px;">
    			<tr>
    				<td><a href="/portfolio/nesporte" ><img src="/images/portifolio_nesporte.jpg" style='margin-right:10px;'/></a></td>
    				<td><a href="/portfolio/clinicasaraiva" ><img src="/images/portifolio_clinicasaraiva.jpg" style='margin-right:10px;'/></td>
    				<td><a href="/portfolio/adriane" ><img src="/images/portifolio_adriane.jpg" style='margin-right:10px;'/></td>
    				<td><a href="/portfolio/putzmeister" ><img src="/images/portifolio_putz.jpg" style='margin-right:10px;'/></td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    				<td>4</td>
    			</tr>
    			<tr>
    				<td>1</td>
    				<td>2</td>
    				<td>3</td>
    				<td>4</td>
    			</tr>    			
    	</table>    	
    	<table width="830" border="0" style="margin-top:50px;">
		  <tr>
		    <td colspan="3" ><a href="/portfolio/adriane" class="port1"><img src="/images/portifolio_segredos_de_adriane.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/castelatto" class="port2"><img src="/images/portifolio_castelatto_mono.png" style='margin-right:10px;'/></a></td>
		    <td></td>
		  </tr>
		</table>
        <table width="860" border="0" style="margin-top:10px;">
		  <tr>
		    <td colspan="3"><a href="/portfolio/ffa" class="port7"><img src="/images/portifolio_festadasflores.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/wellnessfit" class="port5"><img src="/images/portifolio_wellnessfit.png" style='margin-right:10px;'/></a></td>
		    <td><a href="/portfolio/nautilus" class="port6"><img src="/images/portifolio_nautilus.png" style='margin-right:10px;'/></a></td>
		  </tr>
		</table>
        <table width="830" border="0" style="margin-top:10px;">
		  <tr>
		    <td width="56"><a href="/portfolio/tegula" class="port8"><img src="/images/portifolio_tegula.png" style='margin-right:10px;'/></a></td>
		    <td width="744"><a href="/portfolio/fasterm" class="port9"><img src="/images/portifolio_fasterm.png"/></a></td>
		  </tr>
		</table>
	  -->
	</div>
</div>
<div id='contato'>
	<%= form_for @contact, :remote => true, :id => "new_contact" do |f| %>
        <table width="965" border="0" cellspacing="10">
		  <tr>
		    <td width="419">&nbsp;</td>
		    <td width="512"><label for="textfield"></label>
	        <%= f.text_field :name, :value => "Nome", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield2"></label>
	        <%= f.text_field :phone, :value => "Telefone", :onfocus => "check_text_onfocus(this); insertingmask();", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield3"></label>
	        <%= f.text_field :email, :value => "E-mail", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textarea"></label>
	        <%= f.text_area :message, :value => "Mensagem", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
				<%= image_submit_tag "bt_enviar.png", :onclick=>'valida()', :class=>"bt_enviar", :style=>"margin-left:235px;"%>
				<!-- <a href="/#" style="margin-left:235px;"><img src="/images/bt_enviar.png" width="183" height="39" /></a> -->
			</td>
		  </tr>
          <tr>
		    <td colspan="2">
           	<p>&nbsp;</p></td>
	      </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
            <p style="color:#8d8d8d; font-size:18px;">R. Presidente Dutra, 210 - Jd. Brasil - Atibaia - SP - Brasil</p>
            <p style="color:#d80012; font-size:18px;">+55 11 2427 - 8879</p></td>
          </tr>
		</table>
    <%end%>
</div>