<div id='home'>
	<div id='home_imagem1' class='img1'>
		
	</div>
	<div id='home_imagem2' class='img2 hide'>
		
	</div>
	<div id='home_imagem3' class='img3 hide'>
		
	</div>
	<div id='home_imagem4' class='img4 hide'>
		
	</div>
</div>
<div id="nav">
	
	</div>
<div id='agencia'>
	<div id='conteudo_servicos'>
	<img src="/images/tit_agencia.png" />
	<img src="/images/img_quem_sabe.png" style="margin-top:30px;" />
    <div id='txt_agencia'>
        <h3>A Sato7</h3>
        <p>é uma agência de comunicação completa, onde comunicar com inovação e objetividade são palavras chave. Nosso jeito de pensar e fazer é diferente, na Sato7 as adversidades tornam-se soluções.</p>
        <br />
        <h3>Estrutura</h3>
        <p>Somos feitos por profissionais de diferentes formações; relações públicas, jornalistas, publicitários, designers, programadores e desenvolvedores que acreditam e vivenciam o poder da comunicação inovadora e de resultados.</p>
        <br />
        <h3>Diferencial</h3>
        <p>Somos diferentes por que somos feitos por pessoas diferentes, que vivem com paixão e trazem essa energia para planejar, inovar, interagir e agir diante das oportunidades e desafios.</p>
    </div>
   </div>
</div>
<div id='servicos'>
	<div id='conteudo_servicos'>
    	<img src="/images/tit_servicos.png" />
        <img class="img_como" src="/images/img_como_fazer.png" />
        <ul>
        	<li><img src="/images/seta_li.png" />Consultoria, assessoria e planejamento de comunicação;</li>
            <li><img src="/images/seta_li.png" />Pesquisas e auditorias de opinião e clima organizacional;</li>
            <li><img src="/images/seta_li.png" />Desenvolvimento de marcas e projetos de identidade visual;</li>
            <li><img src="/images/seta_li.png" />Projetos gráficos;</li>
            <li><img src="/images/seta_li.png" />Peças publicitárias em mídia digital e impressa;</li>
            <li><img src="/images/seta_li.png" />Planejamento e execução de ações e campanhas em mídias sociais;</li>
            <li><img src="/images/seta_li.png" />Desenvolvimento de sites, hotsites e sistemas  online;</li>
            <li><img src="/images/seta_li.png" />Integração de sites;</li>
            <li><img src="/images/seta_li.png" />Planejamento e execução de eventos institucionais, corporativos e promocionais.</li>
        </ul>
    </div>
</div>
<div id='clientes'>
	<div id='conteudo_clientes'>
    	<img src="/images/tit_clientes.png" />
        <img class="img_quem" src="/images/img_quem.png" />
      <table width="830" border="0" cellspacing="1" style="margin:0 auto; margin-top:30px;">
		  <tr align="center">
		    <td colspan="2" style="vertical-align:middle"><a href="/#" class="cli1" style="cursor:none"><img src="/images/logo_nautilus_mono.png" width="286" height="116" /></a></td>
		    <td style="vertical-align:middle"><a href="/#" class="cli2" style="cursor:none"><img src="/images/logo_tegula_mono.png" width="220" height="116" /></a></td>
		    <td style="vertical-align:middle"><a href="/#" class="cli5" style="cursor:none"><img src="/images/logo_topbeauty_mono.png" width="118" height="186" /></a></td>
		    <td style="vertical-align:middle"><a href="/#" class="cli4" style="cursor:none"><img src="/images/logo_unilever_mono.png" width="172" height="172" /></a></td>
		  </tr>
		</table>
        <table width="940" border="0" cellspacing="1" style="margin:0 auto;">
          <tr>
		    <td align="center" style="vertical-align:middle"><a href="/#" class="cli3" style="cursor:none"><img src="/images/logo_wellness_mono.png" width="255" height="113" /></a></td>
		    <td align="center" style="vertical-align:middle"><a href="/#" class="cli6" style="cursor:none"><img src="/images/logo_castelatto_mono.png" width="314" height="89" /></a></td>
		    <td align="center" style="vertical-align:middle"><a href="/#" class="cli7" style="cursor:none"><img src="/images/logo_fasterm_mono.png" width="328" height="93" /></a></td>
		  </tr>
		</table>
        <table width="830" border="0" cellspacing="1"  style="margin:0 auto; margin-top:10px;">
          <tr align="center">
            <td style="vertical-align:middle"><a href="/#" class="cli10" style="cursor:none"><img src="/images/logo_rotadasbandeiras_mono.png" width="227" height="118" /></a></td>
		    <td style="vertical-align:middle"><a href="/#" class="cli11" style="cursor:none"><img src="/images/logo_festadasflores_mono.png" width="349" height="118" /></a></td>
		    <td style="vertical-align:middle"><a href="/#" class="cli12" style="cursor:none"><img src="/images/logo_tarsetano_mono.png" width="219" height="114" /></a></td>
          </tr>
	    </table>
        <table width="600" border="0" cellspacing="1"  style="margin:0 auto; margin-top:10px;">
          <tr>
            <td width="488" align="center" style="vertical-align:top"><a href="/#" class="cli8" style="cursor:none"><img src="/images/logo_adrianegalisteu_mono.png" width="315" height="60"  /></a></td>
            <td width="458" align="center" style="vertical-align:top"><a href="/#" class="cli9" style="cursor:none"><img src="/images/logo_ceac_mono.png" width="225" height="89"  /></a></td>
          </tr>
		</table>
        
		
  </div>
</div>
<div id='portifolio'>
    <div id='conteudo_clientes'>
    	<img src="/images/tit_portifolio.png" />
    	<table width="965" border="0" cellspacing="5" style="margin-top:10px;">
		  <tr>
		    <td colspan="3" style="vertical-align:middle"><a href="/portfolio/adriane" class="port1"><img src="/images/portifolio_segredos_de _adriane.png" width="308" height="195" /></a></td>
		    <td width="233" style="vertical-align:middle"><a href="/portfolio/castelatto" class="port2"><img src="/images/portifolio_castelatto_mono.png" width="223" height="209" /></a></td>
		    <td width="369" style="vertical-align:middle"><a href="/portfolio/unilever" class="port3"><img src="/images/portifolio_gestores_de_informacao.png" width="371" height="195" /></a></td>
		  </tr>
		</table>
        <table width="965" border="0" cellspacing="5" style="margin-top:5px;">
		  <tr>
		    <td colspan="3" style="vertical-align:middle"><a href="/portfolio/ffa" class="port7"><img src="/images/portifolio_festadasflores.png" width="170" height="135" /></a></td>
		    <td width="326" style="vertical-align:middle"><a href="/portfolio/wellnessfit" class="port5"><img src="/images/portifolio_wellnessfit.png" width="308" height="157" /></a></td>
		    <td width="406" style="vertical-align:middle"><a href="/portfolio/nautilus" class="port6"><img src="/images/portifolio_nautilus.png" width="408" height="207" /></a></td>
		  </tr>
		</table>
        <table width="965" border="0" cellspacing="5" style="margin-top:5px;">
		  <tr align="center">
		    <td width="485" style="vertical-align:middle"><a href="/portfolio/tegula" class="port8"><img src="/images/portifolio_tegula.png" width="309" height="199" /></a></td>
		    <td width="461" style="vertical-align:middle"><a href="/portfolio/fasterm" class="port9"><img src="/images/portifolio_fasterm.png" width="401" height="149" /></a></td>
		  </tr>
		</table>
      <table width="965" border="0" cellspacing="5" style="margin-top:5px;">
		  <tr>
		    <td align="center" style="vertical-align:middle">&nbsp;</td>
	      </tr>
		</table>
	</div>
</div>
<div id='contato'>
	<%= form_for @contact, :remote => true, :id => "new_contact" do |f| %>
        <table width="965" border="0" cellspacing="10">
		  <tr>
		    <td width="419">&nbsp;</td>
		    <td width="512"><label for="textfield"></label>
	        <%= f.text_field :name, :value => "Nome", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield2"></label>
	        <%= f.text_field :phone, :value => "Telefone", :onfocus => "check_text_onfocus(this); insertingmask();", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textfield3"></label>
	        <%= f.text_field :email, :value => "E-mail", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td><label for="textarea"></label>
	        <%= f.text_area :message, :value => "Mensagem", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
				<%= image_submit_tag "bt_enviar.png", :onclick=>'valida()', :class=>"bt_enviar", :style=>"margin-left:235px;"%>
				<!-- <a href="/#" style="margin-left:235px;"><img src="/images/bt_enviar.png" width="183" height="39" /></a> -->
			</td>
		  </tr>
          <tr>
		    <td colspan="2">
           	<p>&nbsp;</p></td>
	      </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
            <p style="color:#8d8d8d; font-size:18px;">R. João Pires, 649 - Sala 7 - Centro - Atibaia - SP - Brasil</p>
            <p style="color:#d80012; font-size:18px;">+55 11 2427 - 8879</p></td>
          </tr>
		</table>
    <%end%>
</div>